body {
  background-color: bisque;
  background-image: url(../img/back-img.jpg);
  background-position: center;
}
/* ====================================================================== */
.my-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0px auto;
  width: 230px;
  perspective: 500px;
}
.cart {
  width: 70px;
  height: 120px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  position: relative;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  transform-style: preserve-3d;
  transform: scale(1);
  transition: transform 500ms;
  overflow: hidden;
}
.normal {
  transform: rotateY(0deg);
  pointer-events: all;
}
.cart:active {
  transform: scale(0.97);
}
.front,
.back {
  pointer-events: none;
}
.back {
  position: absolute;
  display: none;
}
.flip {
  transform: rotateY(180deg);
  pointer-events: none;
}
.active {
  display: block;
}
.is-sicret {
  opacity: 0;
  pointer-events: none;
}
/* ================================================================= */
/* level 1 */
.level-one {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40;
}
.level-one-title {
  font-size: 30px;
  color: #fafafa;
}
